:root {
  --main-color: rgb(230, 165, 80);
  --second-color: rgb(245, 245, 197);
  --third-color: rgb(49, 49, 126);
}

img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  padding: 20px 0;
  border-radius: 50%;
}

.about-container ul {
  list-style: circle;
  display: normal;
  grid-template-columns: 1fr ;
  font-size: 1.1em;
  letter-spacing: .1em;
  padding: 0 32px;
}

