:root {
  --main-color: rgb(230, 165, 80);
  --second-color: rgb(245, 245, 197);
  --third-color: rgb(49, 49, 126);
}


.blog-container{
  text-align: left;
  background-color: var(--second-color);
  padding: 0 20px;
  margin: 30px 0 30px 0;
  border-radius: 5px;
  color: rgb(117, 116, 116);
  width: 500px;
}

.blog-entry h3 {
  color: var(--third-color);
  margin: 30px 0 0 0;
}

.blog-entry p {
  padding: 0 20px;
  letter-spacing: .02em;
}

.blog-entry a {
  color: var(--main-color);
}

p a:hover {
  color: var(--third-color);
  background-color: var(--second-color);
  padding: 0;
}